<script>
  function addproduct(form)
{
	var name =  form.product_name.value;
	var category = form.categories.value;
	var product_desc=form.product_description.value;
	var price=form.price.value;
	var img= "imageeee";//form.product_image.value;
	URL="http://localhost:8080/add_new_product?name="+name+"&category="+category+"&product_desc="+product_desc+"&price="+price+"&image="+img;
	document.getElementById("abcc").innerHTML=URL;
	$.ajax({
			type: "GET",
			url: URL,
			contentType:"application/json; charset=utf-8",
			data:"{}",
			datatype: "html",
			success: function(msg)
			{
					document.getElementById("afterpostingad").innerHTML="PRODUCT POSTED";
			},
			error: function()
			{
				alert("Error 404 : Cannot reach server");
			}
		});


}
  </script>

   <div class="container">
      <div class="jumbotron" id="afterpostingad">
        <h1>NetTrade</h1>
        <p>The best place to list items!!!</p>
      </div>
<div class="row">
	      <div class="col-sm-12 col-lg-12">
		      <div class="jumbotron">
              <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Product name</label>
    <input type="text" class="form-control" id="product_name" placeholder="Product Name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Product Description</label>
    <input type="text" class="form-control" id="product_description" placeholder="Describe your product">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Price</label>
    <input type="number" class="form-control" id="price" placeholder="Enter Price">
  </div>



  <div class="form-group">
 <label for="exampleInputPassword1">Category</label><br>
 <select class="selectpicker" id= "categories">
 <option> default</option>
  <optgroup label="Electronics">
    <option value = "Electronics">Cellphone</option>
    <option value = "Electronics">Desktop/Laptop</option>
    <option value = "Electronics">Bluetooth & Accessories </option>
    <option value = "Electronics" > Camera, Photo & Video</option>
    <option value = "Electronics" > Video Games</option>
    <option value = "Electronics" > Software</option>
    <option value = "Electronics" > Printers & ink</option>
    <option value = "Electronics" > Networking </option>
    <option value = "Electronics" > Others</option>
  </optgroup>
  <optgroup label="Clothing">
    <option value = "Clothings" >Top</option>
    <option value = "Clothings" >Botton</option>
    <option value = "Clothings" > Dress </option>
    <option value = "Clothings" > Shoes</option>
    <option value = "Clothings" > Bag </option>
    <option value = "Clothings" > Jewelry</option>
    <option value = "Clothings" > Other</option>
  </optgroup>
  <optgroup label= "Home" >
  	<option value = "Home"> Home Deco</option>
  	<option value = "Home" > Furniture </option>
  	<option value = "Home" > Kitchen & Dining </option>
	<option value = "Home" > Bedding & Bath </option>
   <option value = "Home" > Garden Deco & Tools</option>
   <option value = "Home" > Appliance </option>
   <option value = "Home" >Lights & Lamps</option>
   <option value = "Home" > Other</option>
    </optgroup >
    <optgroup label = "Others">

    </optgroup>
</select>
</div>

  <div class="form-group">
    <label for="exampleInputFile">Product Image</label>
    <input type="file" id="product_image">
    <p class="help-block">File format : .jpeg, .png</p>
  </div>
  <button type="button" class="btn btn-default" onClick="addproduct(this.form)">Submit</button>
</form>


		      </div>
	      </div>
      </div>



	</div>

<div id="abcc"></div>
