<div class="container">
  <div class="row">
    <div class="col-xs-4" style="padding-right: 50px">
      <h1> Tshirt</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4" style="padding-right: 50px" >
      <img src="http://www.mgequity.co.uk/images/a/httpstore.nike.comgben_gbpdroshe-two-flyknit-shoe-11156562pgid-11461230.jpg" class="block-center">
    </div>

    <div class="col-xs-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean posuere eget felis id faucibus. Nulla facilisi. Sed dolor magna, fermentum sed nisi in, fringilla iaculis mi. Etiam vitae sem orci. Curabitur non justo consectetur, dapibus lectus in, maximus massa. Morbi id hendrerit ante, non euismod ante. Donec a enim sed dui tincidunt sodales. Nulla nec suscipit nibh, vitae hendrerit velit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec cursus metus erat, non euismod leo porta a. Maecenas dignissim sodales enim et accumsan. Cras nec hendrerit massa, sed gravida velit. Mauris pellentesque risus risus, a semper ipsum porttitor non. Vivamus iaculis faucibus nibh vitae finibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Phasellus suscipit consectetur est, nec eleifend ex sagittis quis. Nulla facilisi. Curabitur eu ultricies nisi, non tempus arcu. Aliquam laoreet lorem in urna placerat dapibus. Integer aliquet cursus odio vel bibendum.
      </p>
    </div>
    <div class="col-xs-4">
        <textarea class="form-control" rows="20" style="min-width: 100%" placeholder="Type your message here...."></textarea>
  </div>
</div></br>

  <div class="row">
       <div class="text-right">
         <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
         <button type = "button" class = "btn btn-primary btn-lg">
         Contact!
         </button>
       </div>
     </div>
   </div></br>
