
<div id="photo" class="col-md-3">
  <h3>My Photo <button type="editPic" class="btn btn-default">Edit</button><h3>
  <hr>
  <img src="http://foodbuddys.16mb.com/images/no-user.png" style="width:250px;height:250px"/>
</div>

<div id="info" class="col-md-4">
  <h3>Account Info <button type="editAcc" class="btn btn-default">Edit</button></h3>
  <hr>
  <table>
    <tr>
      <th>Name:</th>
      <th id="name">{{name}}</th>
    </tr>
    <tr>
      <th>Address:</th>
      <th id="address">555 Lakeview Drive, <br> Philadelphia, PA 19082</th>
    </tr>
    <tr>
      <th>Email:</th>
      <th id="email">{{email}}</th>
    </tr>
    <tr>
      <th>Phone #:</th>
      <th id="phoneNum">555-555-5555</th>
    </tr>
  </table>
</div>
