<div class="row">
  <div class="col-sm-12 col-lg-12">
    <div class="jumbotron">
      <div align="right"><a href="/edit" class="btn btn-default">Edit</a></div>
      <div class="media-left">
        <img src="http://foodbuddys.16mb.com/images/no-user.png" style="width:250px;height:250px"/>
      </div>
      <div class="media-body">
        <h3>My Account
        <!--
        {{#if product_user}}
            <button_opt id="options"><button type="editAcc" class="btn btn-default" onclick=edit()>Edit</button></button_opt>
        {{/if}}-->
        </h3>

         <table>
              <tbody>
                    <tr>
                       <td>
                           <p>Name : 	</p>
                      </td>
                       <td>
                           <p>{{name}}</p>
                       </td>
                    </tr>
               <tr>
                       <td>
                           <p>Address : 	</p>
                      </td>
                       <td>
                           <p>555 Lakeview Drive, Philadelphia, PA 19082</p>
                       </td>
                    </tr>
               <tr>
                       <td>
                           <p>Email Address : 	</p>
                      </td>
                       <td>
                           <p>{{email}}</p>
                       </td>
                    </tr>
                                    </tr>
               <tr>
                       <td width=200>
                           <p>Phone Number : 	</p>
                      </td>
                       <td>
                          <p>703-362-5555</p>
                       </td>
                    </tr>
          </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
